
.Mobile{
    display:none;
}
#container
{
    margin: 0 auto;
    width: 800px;
}
#nav
{
    margin: 0 auto;
    width: 700px;
    height: 100px;
}
#name
{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    display: inline-block;
    position: relative;
    top: 25px;
   
}
#name a{
    position: relative;
    top: 20px;
    right: 30px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
#link
{
    margin: 0;
    padding: 0;
    width: 400px;
    height: 50px;
    float: right;
    position: relative;
    top: 25px;
}
#link > ul
{
    list-style-type: none;
}
#link > ul li
{
    display: inline-block;
    width: 100px;
}
#link a:link
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
#link a:visited
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

#Introduce
{
    margin: 0 auto;
    width: 700px;
    height: 830px;
    border: 1px solid black;
}
#face
{
    margin: 0;
    padding: 0;
    width: 180px;
    display: inline-block;
    float: left;
}
#Myself
{
    margin: 0;
    padding: 0;
    width: 700px;
    height: 300px;
    line-height: 30px;
}
#Hobby
{
    margin: 0;
    padding: 0;
    width: 700px;
    height:250px;
    line-height: 30px;
}
#Dream
{
    margin: 0;
    padding: 0;
    width: 700px;
    height:250px;
    line-height: 30px;
}
#History
{
    margin: 0 auto;
    padding: 0;
    width: 700px;
    height: 800px;
    border: 1px solid black;
}
#SNS
{
    margin: 0 auto;
    width: 700px;
    height: 800px;
    border: 1px solid black;
}
#SNS ul
{
    list-style-type: none;
}
#SNS li
{
    margin: 0;
    padding: 0;
    width: 140px;
    height: 50px;
}
#SNS img
{
    display: block;
}
#SNS_box
{
   margin: 0 auto; 
   padding: 0;
   width: 100px;
   height: 400px;
}
.main{
    display:contents;
}
.other{
    display:none;
}
@media screen and (max-width: 767px){

.Mobile{
    display:block;
}

label.menu{
    border: 1px solid black;
    padding: 4px;
}
input#menu{
    display:none;

}
nav#main_nav{
    display: none;
}
input#menu:checked + nav#main_nav{
    display: block;
}

.NMobile{
    display: none;
}
#container
{
    margin: 0 auto;
    width: auto;
    height: 10000px;
}
#nav
{
    margin: 0 auto;
    width: auto;
    height: auto;
}
#name
{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    top: auto;
}
#link
{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    float: right;
    position: relative;
    top: auto;
}
#link > ul
{
    list-style-type: none;
}
#link > ul li
{
    display: inline-block;
    width: auto;
}
#link a:link
{
    text-decoration: none;
    font-size: auto;
    font-weight: bold;
    color: gray;
}
#link a:visited
{
    text-decoration: none;
    font-size: auto;
    font-weight: bold;
    color: gray;
}

#Introduce
{
    margin: 0 auto;
    width: auto;
    height: auto;
    border: 1px solid black;
}
#face
{
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    float: left;
}
#Myself
{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    line-height: auto;
}
#Hobby
{
    margin: 0;
    padding: 0;
    width: auto;
    height:auto;
    line-height: auto;
}
#Dream
{
    margin: 0;
    padding: auto;
    width: auto;
    height:auto;
    line-height: auto;
}
#History
{
    margin: 0 auto;
    padding: 0;
    width: auto;
    height: auto;
}
#SNS
{
    margin: 0 auto;
    width: auto;
    height: auto;
}
#SNS ul
{
    list-style-type: none;
}
#SNS li
{
    margin: 0;
    padding: 0;
    width: 100px;
    height: auto;
}
#SNS img
{
    display: block;
}
#SNS_box
{
   margin: 0 auto; 
   padding: 0;
   width: 100px;
   height: 400px;
}
}

@media screen and (max-width: 400px){

    .Mobile{
        display:block;
    }
    
    label.menu{
        border: 1px solid black;
        padding: 4px;
    }
    input#menu{
        display:none;
    
    }
    nav#main_nav{
        display: none;
    }
    input#menu:checked + nav#main_nav{
        display: block;
    }
    
    .NMobile{
        display: none;
    }
    #container
    {
        margin: 0 auto;
        width: auto;
        height: 10000px;
    }
    #nav
    {
        margin: 0 auto;
        width: auto;
        height: auto;
    }
    #name
    {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        display: inline-block;
        position: relative;
        top: auto;
    }
    #link
    {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        float: right;
        position: relative;
        top: auto;
    }
    #link > ul
    {
        list-style-type: none;
    }
    #link > ul li
    {
        display: inline-block;
        width: auto;
    }
    #link a:link
    {
        text-decoration: none;
        font-size: auto;
        font-weight: bold;
        color: gray;
    }
    #link a:visited
    {
        text-decoration: none;
        font-size: auto;
        font-weight: bold;
        color: gray;
    }
    
    #Introduce
    {
        margin: 0 auto;
        width: auto;
        height: auto;
        border: 1px solid black;
    }
    #face
    {
        margin: 0;
        padding: 0;
        width: auto;
        display: inline-block;
        float: left;
    }
    #Myself
    {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        line-height: auto;
    }
    #Hobby
    {
        margin: 0;
        padding: 0;
        width: auto;
        height:auto;
        line-height: auto;
    }
    #Dream
    {
        margin: 0;
        padding: auto;
        width: auto;
        height:auto;
        line-height: auto;
    }
    #History
    {
        margin: 0 auto;
        padding: 0;
        width: auto;
        height: auto;
    }
    #SNS
    {
        margin: 0 auto;
        width: auto;
        height: auto;
    }
    #SNS ul
    {
        list-style-type: none;
    }
    #SNS li
    {
        margin: 0;
        padding: 0;
        width: 100px;
        height: auto;
    }
    #SNS img
    {
        display: block;
    }
    #SNS_box
    {
       margin: 0 auto; 
       padding: 0;
       width: 100px;
       height: 400px;
    }
    }